mat-spinner {
  position: absolute;
  text-align: center;
  left: 45%;
  top: 50%;
}

mat-card-subtitle {
  float: left;
  margin-right: 12px;
}

span {
  display: inline-flex;
}

.mat-card-header .mat-card-title {
  margin-bottom: 18px;
}

.papaBear {
  width: 580px;
  margin: auto;
}

.noBears {
  text-align: center;
  margin: 20px;
}

@media (max-width: 600px) {
  .papaBear {
    width: 320px;
  }

  mat-card-subtitle {
    float: none;
    display: flex;
    flex-direction: column;
  }
}
