<div>
  <h2>Welcome!</h2>
  <p>
    This is a site for blog post ideas with educational and inspirational
    purpose. Find your perfect topic here and help others to find theirs!
  </p>
  <h3>How to Write a Blog Post in Five Easy Steps:</h3>
  <ul>
    <li>
      Step 1: Plan your blog post by choosing a topic, creating an outline,
      conducting research, and checking facts.
    </li>
    <li>
      Step 2: Craft a headline that is both informative and will capture
      readers' attentions.
    </li>
    <li>
      Step 3: Write your post, either writing a draft in a single session or
      gradually word on parts of it.
    </li>
    <li>
      Step 4: Use images to enhance your post, improve its flow, add humor, and
      explain complex topics.
    </li>
    <li>
      Step 5: Edit your blog post. Make sure to avoid repetition, read your post
      aloud to check its flow, have someone else read it and provide feedback,
      keep sentences and paragraphs short, don't be a perfectionist, don't be
      afraid to cut out text or adapt your writing last minute.
    </li>
  </ul>
  <p>
    Blogging is one of those jobs that seems easy until you have to do it.
    Fortunately, it does get easier, and with time and practice, you'll be
    blogging like a pro in no time.
  </p>
  <p>Now take up thy pen, go forth, and blog like a badass!</p>
</div>
