<h3>Welcome, {{ this.user.name }}!</h3>
<div class="user-email">email: {{ user.email }}, here are your posts:</div>
<br />
<div class="noBears" *ngIf="availablePosts.length == 0">No posts yet!</div>
<br />
<mat-spinner *ngIf="isLoading"></mat-spinner>
<div class="papaBear" *ngIf="availablePosts.length > 0">
  <div *ngFor="let post of availablePosts">
    <mat-card [routerLink]="['/posts', post.id]">
      <div>
        <mat-card-title>{{ post.title | shortenTitle }}</mat-card-title>
        <mat-card-subtitle
          >author {{ post.author | titlecase }}</mat-card-subtitle
        >
        <mat-card-content>
          <p>
            {{ post.description | shortenContent
            }}<a [routerLink]="['/posts', post.id]" mat-button>Read more</a>
          </p>
        </mat-card-content>
      </div>
      <span class="spacer"></span>
      <div class="image" align="end">
        <img mat-card-sm-image [src]="post.url" [alt]="post.title" />
      </div>
    </mat-card>
  </div>
</div>
