.noBears {
  text-align: center;
  margin: 20px;
}

mat-spinner {
  position: absolute;
  text-align: center;
  left: 45%;
  top: 50%;
}

@media (max-width: 600px) {
  mat-spinner {
    left: 40%;
  }
}
